@import url("https://fonts.googleapis.com/css?family=Exo:400,700");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Exo", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow: auto;
}

.Home {
  position: relative;
  background-image: radial-gradient(
    farthest-corner at 40px 40px,
    #50c5ee 60%,
    #00daff80 100%
  );
  min-height: calc(100vh - 60px);
  padding: 1rem;
  margin: 1rem;
  border-radius: 20px;
  color: #000;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.3);

  .Header {
      max-width: 1110px;
      margin: 0 auto 25px auto;
      position: relative;

      .row {
          display: flex;
          width: 100%;
          justify-content: space-between;
          margin: 20px 0 35px 0;

          .Logo {
              display: flex;
              align-items: center;
              border-radius: 10px;
              background-color: #ffffff4d;
              width: 340px;
              height: 45px;

              &__icone {
                  position: absolute;
                  left: -20px;
                  top: -15px;
              }

              &__titulo {
                  position: absolute;
                  left: 55px;
                  font-weight: 700;
                  font-size: 2.5rem;
              }
          }

          .Sacola {
              position: relative;

              &__icone {
                  cursor: pointer;
              }

              &__badge {
                  background-color: red;
                  width: 20px;
                  height: 20px;
                  text-align: center;
                  vertical-align: middle;
                  position: absolute;
                  bottom: 0;
                  right: 0;
                  color: #fff;
                  font-size: 1rem;
                  display: flex;
                  justify-content: center;
                  align-items: center;
                  border-radius: 50%;
              }
          }
      }

      @media (max-width: 1220px) {
          max-width: 720px;
      }

      @media (max-width: 840px) {
        max-width: 320px;
    }

      @media (max-width: 400px) {
          max-width: 250px;

          .row {
              column-gap: 20px;

              .Logo {

                &__titulo {
                    font-size: 1.5rem;
                }
              }
          }
      }
  }

  // -------------------------------------------------- Header -------------------------------------------
  > h2 {
    display: flex;
    justify-content: center;
    color: #000;
  }

  .paleta-escolhida-espaco {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2rem;

    #paleta-escolhida-input-espaco {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;

      #idPaleta {
        padding: 0.5rem;
        width: 315px;
        border: none;
        border-radius: 0.2rem;
      }

      #idPaletaBtn {
        background-color: transparent;
        border: 2px solid #9400d3;
        padding: 0.5rem;
        color: #9400d3;
        font-weight: 600;
        border-radius: 0.2rem;
        width: 330px;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
        font-size: 1rem;
        cursor: pointer;
        transition: all 0.6s ease-in-out;

        &:hover {
          background-color: #9400d3;
          color: #fff;
        }
      }
    }
  }

  &__container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

    @media (max-width: 350px) {
      justify-content: unset;
    }

    .PaletaLista {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 25px 50px;

      @media (max-width: 1220px) {
        grid-template-columns: repeat(2, 1fr);
      }

      @media (max-width: 840px) {
        grid-template-columns: 1fr;
      }
    }
  }

  .PaletaCardItem,
  .PaletaListaItem {
    background: #ffffff4d;
    border-radius: 10px;
    padding: 0.8rem;
    width: 315px;
    display: flex;
    justify-content: space-around;

    @media (max-width: 400px) {
      width: 210px;
      height: 180px;
    }

    > div {
      display: flex;
      justify-content: space-between;
      flex-direction: column;
    }

    &__sabor {
      font-size: 1.5rem;
      font-weight: 700;
      line-height: 100%;
    }

    &__preco {
      color: #9400d3;
    }

    &__descricao {
      font-size: 0.85rem;
    }

    &__foto {
      height: 150px;
      margin-right: -60px;
    }
  }

  .PaletaCardItem {
    margin: 20px 0;
    height: 150px;
    width: 315px;
  }
}
